<div class="flex flex-col gap-6">
  <section class="flex flex-col gap-2 md:flex-row items-center justify-between">
    <div class="flex gap-4 items-center">
      <button
        (click)="decrementDate()"
        class="px-3 pt-1 pb-1 border border-gray-300 shadow-sm rounded-4xl hover:bg-gray-200 cursor-pointer"
      >
        <fa-icon [icon]="faChevronLeft" class="text-sm"/>
      </button>
      <span class="text-sm md:text-xl font-semibold">
         {{ displayedDateRange() }}
      </span>
      <button
        (click)="incrementDate()"
        class="px-3 pt-1 pb-1 p-1 border border-gray-300 shadow-sm rounded-4xl hover:bg-gray-200 cursor-pointer"
      >
        <fa-icon [icon]="faChevronRight" class="text-sm"/>
      </button>
    </div>
    <app-view-toggle [(value)]="viewMode" [options]="calendarViewOptions"/>
  </section>

  @if (viewMode() === calendarViewMode.Month) {
    <section class="shadow-sm rounded-b-xl">
      <div
        class="grid grid-cols-7 text-center bg-gray-200 border-b rounded-t-xl border-gray-300"
      >
        @for (day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']; track day) {
          <div class="p-1 md:p-2">{{ day }}</div>
        }
      </div>
      <div class="rounded-b-xl border-l border-b border-r border-gray-300 overflow-hidden">
        @for (week of weeks(); track week) {
          <div class="grid grid-cols-7 border-b last:border-0 border-gray-300 max-h-35">
            @for (day of week; track day) {
              <app-day-card
                [date]="day.date"
                [events]="getEventsForDay(day.date)"
                [isDisplayedMonth]="day.isDisplayedMonth"
                [viewMode]="viewMode()"
                class="border-r border-gray-300 last:border-0"
              />
            }
          </div>
        }
      </div>
    </section>
  }

  @if (viewMode() === calendarViewMode.Week) {
    <section class="flex flex-col md:grid md:grid-cols-7 gap-4">
      @for (day of currentWeek(); track day) {
        <app-day-card
          [date]="day.date"
          [events]="getEventsForDay(day.date)"
          [viewMode]="viewMode()"
        />
      }
    </section>
  }
</div>
