<div>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="formGroup"
    class="flex flex-col gap-6 lg:flex-row lg:gap-8"
    id="eventCreationForm"
  >
    <div
      class="w-full lg:w-1/2 flex flex-col gap-6 bg-gray-50 rounded-lg border border-gray-200 p-4"
    >
      <div class="flex flex-col gap-2">
        <label class="text-sm font-medium text-gray-700" for="title">
          Event Title
          <span class="text-red-500">*</span>
        </label>
        <input [invalid]="isInvalidAndTouched('title')" fluid
               formControlName="title"
               id="title"
               pInputText placeholder="Enter event title"
               type="text"/>
        @if (isInvalidAndTouched('title')) {
          @if (title?.hasError('required')) {
            <p-message severity="error" size="small" variant="simple">Event title is required</p-message>
          } @else if (title?.hasError('maxlength')) {
            <p-message severity="error" size="small" variant="simple">Title must be less than 100 characters
            </p-message>
          }
        }
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-sm font-medium text-gray-700" for="description">
          Description
        </label>
        <textarea [autoResize]="true" [invalid]="isInvalidAndTouched('description')"
                  fluid formControlName="description" id="description"
                  pTextarea placeholder="Describe your event in detail..." rows="5"></textarea>
        @if (isInvalidAndTouched('description')) {
          <p-message severity="error" size="small" variant="simple">
            Description must be less than 500 characters
          </p-message>
        }
      </div>

      <div>
        <h3 class="text-lg font-medium text-gray-800 mb-4">Tags</h3>
        <div class="space-y-3">
          <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-gray-700" for="description">
              Select Tags
              <span class="text-red-500">*</span>
            </label>
            <p-multi-select [invalid]="isInvalidAndTouched('tags')" [maxSelectedLabels]="5"
                            [options]="allTags()"
                            formControlName="tags"
                            optionLabel="name" placeholder="Select tags"/>
            @if (isInvalidAndTouched('tags')) {
              @if (tags?.hasError('required')) {
                <p-message severity="error" size="small" variant="simple">At least one tag is required</p-message>
              } @else if (tags?.hasError('maxlength')) {
                <p-message severity="error" size="small" variant="simple">You can select up to 5 tags</p-message>
              }
            }
          </div>

          <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-gray-700" for="description">
              Or add a custom tag
            </label>
            <input (keydown.enter)="addCustomTag()" [formControl]="customTagInput"
                   [invalid]="customTagInput.invalid && customTagInput.touched"
                   class="w-full" pInputText placeholder="Enter custom tag"
                   type="text"/>
            @if (customTagInput.invalid && customTagInput.touched) {
              @if (customTagInput.hasError('maxlength')) {
                <p-message severity="error" size="small" variant="simple">Custom tag must be less than 30 characters
                </p-message>
              }
            }
          </div>
        </div>
      </div>
    </div>

    <div class="w-full lg:w-1/2 flex flex-col gap-6 p-4 bg-gray-50 rounded-lg border border-gray-200">
      <div class="flex flex-col gap-2">
        <label class="text-sm font-medium text-gray-700" for="date">
          Date & Time
          <span class="text-red-500">*</span>
        </label>
        <p-datepicker [invalid]="isInvalidAndTouched('date')" [showTime]="true" fluid formControlName="date"
                      hourFormat="24" inputId="date" placeholder="Select event date and time"></p-datepicker>
        @if (isInvalidAndTouched('date')) {
          @if (date?.hasError('required')) {
            <p-message severity="error" size="small" variant="simple">Date & Time is required
            </p-message>
          }
        }
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-sm font-medium text-gray-700" for="date">
          Location
          <span class="text-red-500">*</span>
        </label>
        <input [invalid]="isInvalidAndTouched('location')" fluid
               formControlName="location"
               id="location"
               pInputText placeholder="Enter event location"
               type="text"/>
        @if (isInvalidAndTouched('location')) {
          @if (location?.hasError('required')) {
            <p-message severity="error" size="small" variant="simple">Location is required</p-message>
          } @else if (location?.hasError('maxlength')) {
            <p-message severity="error" size="small" variant="simple">Location must be less than 200 characters
            </p-message>
          }
        }
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-sm font-medium text-gray-700" for="date">
          Capacity (optional)
        </label>
        <p-input-number [invalid]="isInvalidAndTouched('capacity')" formControlName="capacity" inputId="integeronly"
                        placeholder="Enter event maximum attendees"/>
        @if (isInvalidAndTouched('capacity')) {
          @if (capacity?.hasError('min')) {
            <p-message severity="error" size="small" variant="simple">Capacity must be at least 1
            </p-message>
          }
        }
      </div>

      <div>
        <h3 class="text-lg font-medium text-gray-800 mb-4">Visibility</h3>
        <div class="space-y-3">
          <div class="flex items-center gap-3">
            <p-radio-button formControlName="visibility" inputId="visibility-public" name="visibility" value="public"/>
            <div class="flex flex-col">
                  <span class="text-sm font-medium text-gray-700 group-hover:text-gray-900"
                  >Public</span
                  >
              <span class="text-xs text-gray-500">Anyone can see and join this event</span>
            </div>
          </div>

          <div class="flex items-center gap-3">
            <p-radio-button formControlName="visibility" inputId="visibility-private" name="visibility"
                            value="private"/>
            <div class="flex flex-col">
                  <span class="text-sm font-medium text-gray-700 group-hover:text-gray-900"
                  >Private</span
                  >
              <span class="text-xs text-gray-500">Only invited people can see this event</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="mt-8 flex justify-center">
    <p-button (click)="onSubmit()" [disabled]="formGroup.invalid" [label]="submitButtonText" class="py-3 px-8"/>
  </div>
</div>
