<div class="p-3 lg:p-5 lg:grid lg:grid-cols-3 items-center sticky top-0 shadow-sm z-10 backdrop-blur-xs bg-white/70">
  <nav class="lg:col-start-2 flex justify-center mb-3 lg:mb-0">
    <div
      class="border-1 border-gray-300 rounded-4xl bg-white p-1 flex shadow-sm"
    >
      <button
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex items-center gap-2 px-2 lg:px-3 pb-1 pt-1 cursor-pointer whitespace-nowrap rounded-4xl text-gray-500 transition-all duration-300
                    hover:-translate-y-px hover:text-black"
        routerLink="/events"
        routerLinkActive="hover:translate-none bg-gray-200 text-gray-950"
      >
        <fa-icon [icon]="faListUl"/>
        <span class="hidden sm:inline">Events</span>
      </button>

      <button
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex items-center gap-2 px-2 lg:px-3 pb-1 pt-1 cursor-pointer whitespace-nowrap rounded-4xl text-gray-500 transition-all duration-300
                    hover:-translate-y-px hover:text-black"
        routerLink="/my-events"
        routerLinkActive="hover:translate-none bg-gray-200 text-gray-950"
      >
        <fa-icon [icon]="faCalendar"/>
        <span class="hidden sm:inline">My Events</span>
      </button>

      <button
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex items-center gap-2 px-2 lg:px-3 pb-1 pt-1 cursor-pointer whitespace-nowrap rounded-4xl text-gray-500 transition-all duration-300
                    hover:-translate-y-px hover:text-black"
        routerLink="/create-event"
        routerLinkActive="hover:translate-none bg-gray-200 text-gray-950"
      >
        <fa-icon [icon]="faPlus"/>
        <span class="hidden sm:inline">Create Event</span>
      </button>
    </div>
  </nav>

  <div class="lg:col-start-3 flex justify-center">
    <div
      class="flex justify-center h-full bg-white border border-gray-300 rounded-4xl backdrop-blur-md p-1 shadow-sm"
    >
      @if (authService.isAuthenticated$ | async) {
        @let user = authService.currentUser$ | async;
        @if (user) {
          <div class="flex gap-2">
            <div class="flex items-center gap-2 px-2 lg:px-4 pb-1 pt-1">
              <fa-icon [icon]="faUser"/>
              <span class="hidden md:inline">{{ `${user.firstName} ${user.lastName}` }}</span>
              <span class="md:hidden text-sm">{{ user.firstName }}</span>
            </div>
            <div class="w-px m-1 bg-gray-400 opacity-30"></div>
            <button (click)="logout()"
                    class="text-sm px-2 lg:px-4 pb-1 pt-1 hover:bg-gray-200 rounded-r-4xl hover:text-red-600 transition-colors">
              <fa-icon [icon]="faArrowRightFromBracket"/>
            </button>
          </div>
        }
      } @else {
        <button
          class="flex items-center gap-2 px-3 lg:px-4 pb-1 pt-1 cursor-pointer whitespace-nowrap rounded-4xl transition-all duration-300
                    hover:bg-gray-200"
          routerLink="/login"
        >
          <span>Log In</span>
        </button>
        <div class="w-px m-1 bg-gray-400 opacity-30"></div>
        <button
          class="flex items-center gap-2 px-3 lg:px-4 pb-1 pt-1 cursor-pointer whitespace-nowrap rounded-4xl transition-all duration-300
                     hover:bg-gray-200"
          routerLink="/signup"
        >
          <span>Sign Up</span>
        </button>
      }
    </div>
  </div>
</div>
